<div class="mb-3">
    <label for="imageInput" class="form-label">Image</label>
    <select id="imageInput" name="image" class="form-select" aria-label="Default select example">
        <% for (const image of images) { %>
            <option value="<%= image %>" <%= page.image === image? "selected": "" %>><%= image %></option>
        <% } %>
    </select>
    <div class="form-text">
        Select one of the images.
        If no image is available, you should copy one to the
        <a href="javascript:requestOpenFolder('<%= `${page.$path}/assets`%>')"><%= page.$path %>/assets</a> folder
        and <a href="javascript:refreshImageInput()">refresh the images selector</a>.
    </div>
</div>

<script>

    async function refreshImageInput() {

        const imageInputElement = document.getElementById("imageInput");
        imageInputElement.innerHTML = "";

        const selected = "<%= page.image %>";
        const resp = await fetch("/assets/<%= page.$path %>");
        const images = await resp.json();

        for(const image of images) {

            const elem = document.createElement("option");
            
            elem.value = image;
            elem.selected = image === selected;
            elem.innerHTML = image;

            imageInputElement.appendChild(elem);
        }
    }
</script>