<%- include("_header") %>

    <div class="container">

        <p>
        <h1>
            <img class="me-2" style="max-width: 1em;max-height: 1em;" src="/content/<%= author.$path + "/" +
                author.image %>">
            <%= author.title %>
        </h1>
        </p>
        <p>
            <%= author.description %>
        </p>

        <p>
            <a class="btn btn-primary" href="/authors/<%= author.$name %>/edit">Edit Info</a>
            <% if (canDelete) { %> 
                <a class="btn btn-danger" href="/authors/<%= author.$name %>/delete">Delete Author</a>
            <% } %>
        </p>

    </div>

    <div class="container">
        <h4>Starters</h4>

        <p>
            <a class="" href="/starters/add/<%= author.$name %>">Add Starter Template &RightArrow;</a>
        </p>

        <div class="list-group">
            <% for (page of starters) { %>
                <%- include("_pagelink", {page, href: "/starters/" + page.$name}) %>
                    <% } %>
        </div>
    </div>

    <div class="container mt-4">
        <h4>Examples</h4>

        <p>
            <a href="/examples/add/<%= author.$name %>">Add Example Template &RightArrow;</a>
        </p>

        <div class="list-group">
            <% for (page of examples) { %>
                <%- include("_pagelink", {page, href: "/examples/" + page.$name}) %>
                    <% } %>
        </div>
    </div>

    <div class="container mt-4">
        <h4>Websites</h4>

        <p>
            <a href="/websites/add/<%= author.$name %>">Add Website &RightArrow;</a>
        </p>

        <div class="list-group">
            <% for (page of websites) { %>
                <%- include("_pagelink", {page, href: "/websites/" + page.$name}) %>
                    <% } %>
        </div>
    </div>

    <div class="container mt-4">
        <h4>Plugins</h4>

        <p>
            <a href="/plugins/add/<%= author.$name %>">Add Plugin &RightArrow;</a>
        </p>

        <div class="list-group">
            <% for (page of plugins) { %>
                <%- include("_pagelink", {page, href: "/plugins/" + page.$name}) %>
                    <% } %>
        </div>
    </div>

    <%- include("_footer") %>